.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .not-found-container h1 {
    text-align: center;
    padding-top: 200px;
    font-family: 'Pacifico', cursive;

  }
  