.aboutpage {
    padding: 20px;
    margin-top: 10vh;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: black;
    }
  
    h2 {
      font-size: 2rem;
      margin-top: 30px;
      font-family: 'Poppins', sans-serif;
    }
  
    h3 {
      font-size: 1.5rem;
      margin-top: 20px;
      font-family: 'Poppins', sans-serif;
    }
  
    p {
      margin-bottom: 15px;
      font-family: 'Raleway', sans-serif;
    }
    #cupOJoe{
        height:80vh;
    }

    @media (min-width: 576px) {
      padding: 20px 5%;
    }
  
    @media (min-width: 768px) {
      padding: 20px 10%;
    }
  
    @media (min-width: 992px) {
      padding: 20px 15%;
    }
  
    @media (min-width: 1200px) {
      padding: 20px 25%;
    }
  }

