.mb-1{
    text-align: center;
    margin-bottom: 20vh;
    font-family: 'Poppins', sans-serif;
}
.btn-info{
    background-color: #fff;
    color:black;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.btn-info:hover{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
