
#headerBrandName{
    font-family: 'Pacifico', cursive;
    color:black
    
}
#homeSlogan{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 7vh;
}

#navBar{
background-color: transparent;
}

.custom-text-style{
    color: black;
    font-family: 'Raleway', sans-serif;
    transition: all .2s ease-in-out; 
  }


  @media (min-width: 576px) {

  }

  @media (min-width: 768px) {
   
  }

  @media (min-width: 992px) {
    .custom-text-style:hover{
      transform: scale(1.1); 
      color: black;
    }
    #navBar{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      
    }
 
  }

  @media (min-width: 1200px) {

  }

