.homepage {
    animation: fadeIn 2s;
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 4vh;
    }

  
    h1{
        color: white;
    }
    .bd-placeholder-img{
        aspect-ratio: 16/9;
        max-height: calc(100vh - 49px);
        filter: brightness(50%);
        object-fit: cover;
    }
}




// media queries



@media (min-width: 576px) {
    // here for small screens

}

@media (min-width: 768px) {}


@media (min-width: 992px) {
    // here for small computers

}

@media (min-width: 1200px) {
    // medium computers

}

@media (min-width: 1400px) {}