.homepage {
    animation: fadeIn 2s;
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 4vh;
    }
    h1{
        color: white;
    }
    .bd-placeholder-img{
        aspect-ratio: 16/9;
        max-height: calc(100vh - 49px);
        filter: brightness(50%);
        object-fit: cover;
    }
    .col-sm-3{
text-align: center;
    }
    .reviewsHeader{
        text-align: center;
        margin-bottom: 5vh;
        margin-top: 5vh;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 3vh;
        color:#969f84;
        letter-spacing: 0.3em;
    }
    .card{
        border:none;
    }
    .card-title{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color:#1c1b1b;
        letter-spacing: 0.1em; 
    }
    .card-text{
        font-family: 'Montserrat', sans-serif;
        color: #1c1b1b;
        letter-spacing: 0.09em;
        margin-bottom: 2vh;
        padding: 0 15px;
        text-align: center;
        
    }
    .bi-star-fill {
            margin-left: 1vh;}
    .bi-star-half {
            margin-left: 1vh;}
}




// media queries



@media (min-width: 576px) {
    // here for small screens

}

@media (min-width: 768px) {}


@media (min-width: 992px) {
    // here for small computers

}

@media (min-width: 1200px) {
    // medium computers

}

@media (min-width: 1400px) {}