.product-page {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  background-color: #f9f7f7;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  animation: fadeIn 2s;

  a {
    margin-bottom: 20px;
    color: #1c1b1b;
    text-decoration: none;
    display: flex;
  }
  a:hover {
    text-decoration: none;
    color: #969f84;
  }

  .product-details-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    column-gap: 40px;

  }

  .product-image {
    width: 100%;
    // max-width: 400px;
    margin-bottom: 20px;


    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }

  h2,
  p {
    margin-left: auto;
    max-width: 750px;
    margin-top: 0;
    padding-bottom: 20px;
  }

  .price {
    font-size: 18px;
    margin-bottom: 0px;
  }



  .add-to-cart {
    background-color: #969f84;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    border: solid;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: white;
      color: #969f84;
      border-style: solid;
      border-color: #969f84;
    }
  }
}



@media (min-width: 768px) {

  .product-page {
    display: flex;
    flex-direction: column;
    padding: 0 170px;
    background-color: #f9f7f7;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    animation: fadeIn 2s;

    #backToShop {
      margin-bottom: 20px;
      color: #969f84;
      text-decoration: none;
      display: flex;
      font-style: normal;
    }


    a:hover {
      text-decoration: none;
    }

    #backToShop:hover {
      color: #969f84 !important;
      text-decoration: none;
    }

    .product-details-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      column-gap: 40px;

      .product-details {
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        text-align: left;
       justify-content: center;
       height: 100%;

        h2 {
          margin: 0;
        }

        p {
          margin: 0;
        }
      }

    }

    .product-image {
      width: 50%;
      // max-width: 400px;
      margin-bottom: 20px;


      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    h2,
    p {
      margin-left: auto;
      max-width: 750px;
      margin-top: 0;
      padding-bottom: 20px;
    }

    .price {
      font-size: 18px;
      margin-bottom: 0px;
    }



    .add-to-cart {
      background-color: #969f84;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      border: solid;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: white;
        color: #969f84;
        border-style: solid;
        border-color: #969f84;
      }
    }
  }
}