.shoppage{
    font-family: 'Montserrat', sans-serif;
    margin-top:2rem;
}


    .shoppage{
        margin-top: 5vh;}
        .card{
            margin-bottom: 5vh;
            img{
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
            }

        }
