.shoppage{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15vh;
    animation: fadeIn 2s;
}

@media (max-width: 768px){
    .shoppage{
        margin-top: 5vh;}
        .card{
            margin-bottom: 5vh;

        }
}